{% if 1 < pageCount %}
    <div class="pagination pagination-centered">
        <ul>
            <!-- First page link -->
            <li {{ not previous ? 'class="disabled"' : '' }}>
                <a href="{{ url(route, params | merge({'page': first})) }}">&laquo;</a></li>
            <!-- Previous page link -->
            <li {{ not previous ? 'class="disabled"' : '' }}>
                <a href="{{ url(route, params | merge({'page': previous})) }}">&lsaquo;</a></li>

            <!-- Numbered page links -->
            {% for page in pagesInRange %}
                <li {{ page == current ? 'class="active"' : '' }}>
                    <a href="{{ url(route, params | merge({'page': page})) }}">{{ page }}</a>
                </li>
            {% endfor %}

            <!-- Next page link -->
            <li {{ not next ? 'class="disabled"' : '' }}>
                <a href="{{ url(route, params | merge({'page': next})) }}">&rsaquo;</a></li>
            <!-- Last page link -->
            <li {{ not next ? 'class="disabled"' : '' }}>
                <a href="{{ url(route, params | merge({'page': last})) }}">&raquo;</a></li>
        </ul>
    </div>
{% endif %}