{% extends 'layout/layout.twig' %}

{% set title = translate('Login') %}
{% do headTitle(title) %}

{% do form.setAttribute('action', url('user/authenticate', {}, {'query': {'back': back}})) %}
{% do form.get('submit').setValue(translate('Login')) %}
{% do form.prepare() %}

{% set displayOptions = {
    'class': 'form-signin',
    'elements': {
        'submit': {'class': 'btn btn-primary'}
    }
} %}

{% block body %}
<body id="login">
    <div class="container">
        <div class="form-signin-container">
            <h2>{{ translate('Login') }}</h2>
            {% for messageNamespace in ['error', 'info', 'success'] %}
                {{ flashMessenger().render(messageNamespace, ['alert', 'alert-' ~ messageNamespace]) | raw }}
            {% endfor %}
            {{ formTwb(form, constant('DluTwBootstrap\\Form\\FormUtil::FORM_TYPE_VERTICAL'), displayOptions) }}
        </div>
    </div>
</body>
{% endblock %}