{% extends 'layout/layout.twig' %}

{% set title = translate('Register') %}
{% do headTitle(title) %}

{% do form.setAttribute('action', url('user/register')) %}
{% do form.get('submit').setValue(translate('Register')) %}

{% do form.prepare() %}

{% set displayOptions = {
    'elements': {
        'submit': {'class': 'btn btn-primary'}
    }
} %}

{% block content %}
<h1>{{ title }}</h1>

{{ formTwb(form, constant('DluTwBootstrap\\Form\\FormUtil::FORM_TYPE_HORIZONTAL'), displayOptions) }}
{% endblock %}