<?php if ($this->pageCount):?>
    <div class="pagination pagination-centered">
        <ul>
            <li <?php echo !isset($this->previous) ? 'class="disabled"' : ''?>>
                <a href="<?php echo $this->url('album/list', array('page' => $this->first, 'order_by' => $orderBy, 'order' => $order))?>">&laquo;</a></li>
            <li <?php echo !isset($this->previous) ? 'class="disabled"' : ''?>>
                <a href="<?php echo $this->url('album/list', array('page' => $this->previous, 'order_by' => $orderBy, 'order' => $order))?>">&lsaquo;</a></li>

            <!-- Numbered page links -->
            <?php foreach ($this->pagesInRange as $page):?>
                <li <?php echo $page == $this->current ? 'class="active"' : ''?>><a href="<?php echo $this->url('album/list', array('page' => $page, 'order_by' => $orderBy, 'order' => $order)); ?>">
                        <?php echo $page?>
                    </a></li>
            <?php endforeach; ?>

            <!-- Next page link -->
            <li <?php echo !isset($this->next) ? 'class="disabled"' : ''?>>
                <a href="<?php echo $this->url('album/list', array('page' => $this->next, 'order_by' => $orderBy, 'order' => $order))?>">&rsaquo;</a></li>
            <!-- Last page link -->
            <li <?php echo !isset($this->next) ? 'class="disabled"' : ''; ?>>
                <a href="<?php echo $this->url('album/list', array('page' => $this->last, 'order_by' => $orderBy, 'order' => $order))?>">&raquo;</a></li>
        </ul>
    </div>
<?php endif?>