{% extends 'layout/layout.twig' %}

{% set title = (translate('Edit album %s') | format(album.title)) %}
{% do headTitle(title) %}

{% set displayOptions = {
    'fieldsets': {
        'album': {
            'elements': {
                'tracks': {'class': 'select2'}
            }
        }
    },
    'elements': {
        'submit': {'class': 'btn-primary'},
        'cancel': {'class': 'btn btn-cancel'}
    }
} %}

{% do form.setAttribute('action', url('album/album', {'action': 'edit', 'id': album.id})) %}
{% do form.get('cancel').setAttribute('onclick', ('javascript:location.href="%s"' | format(url('album'))))
                        .setLabel(translate('Back'))
%}
{% do form.get('submit').setValue(translate('Save')) %}
{% do form.prepare() %}

{% block content %}
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{{ translate('Edit Album') }}</div>
                <div class="pull-right"><span class="badge badge-info">{{ album.title }}</span></div>
            </div>
            <div class="block-content collapse in">
                {{ formTwb(form, constant('DluTwBootstrap\\Form\\FormUtil::FORM_TYPE_HORIZONTAL'), displayOptions) }}
            </div>
        </div>
    </div>
{% endblock %}