{% extends 'layout/layout.twig' %}

{% set title = translate('Albums') %}
{% do headTitle(title) %}

{% set order = 'asc' %}
{% if orderBy in ['title', 'artist'] %}
   {% set newOrder = 'asc' == order ? 'desc' : 'asc' %}
{% endif %}
{% set defaults = {
    'order_by': orderBy,
    'order': order,
    'page': page
} %}

{% block content %}
    <div class="row-fluid">
        <!-- block -->
        <div class="block">
            <div class="navbar navbar-inner block-header">
                <div class="muted pull-left">{{ title }}</div>
                <div class="pull-right"><span class="badge badge-info">{{ albums.totalItemCount }}</span>

                </div>
            </div>
            <div class="block-content collapse in">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>
                            {% if 'id' == orderBy %}
                                {% set params = defaults | merge({'order_by': 'id', 'order': newOrder}) %}
                            {% else %}
                                {% set params = defaults | merge({'order_by': 'id', 'order': 'asc'}) %}
                            {% endif %}
                            <a href="{{ url('album/list', params) }}">{{ translate('#') }}</a>
                        </th>
                        <th>
                            {% if 'title' == orderBy %}
                                {% set params = defaults | merge({'order_by': 'title', 'order': newOrder}) %}
                            {% else %}
                                {% set params = defaults | merge({'order_by': 'title', 'order': 'asc'}) %}
                            {% endif %}
                            <a href="{{ url('album/list', params) }}">{{ translate('Title') }}</a>
                        </th>
                        <th>
                            {% if 'artist' == orderBy %}
                                {% set params = defaults | merge({'order_by': 'artist', 'order': newOrder}) %}
                            {% else %}
                                {% set params = defaults | merge({'order_by': 'artist', 'order': 'asc'}) %}
                            {% endif %}
                            <a href="{{ url('album/list', params) }}">{{ translate('Artist') }}</a>
                        </th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for album in albums %}
                        {% set deleteUrl = url('album/album', {'action': 'delete', 'id': album.id}) %}
                        <tr>
                            <td>{{ album.id }}</td>
                            <td>
                                <img class="thumbnail" src="{{ img(album.image, album) }}" style="height:50px;display: inline">
                                {{ album.title }}
                            </td>
                            <td>{{ album.artist }}</td>
                            <td>
                                <a class="btn btn-small btn-primary" href="{{ url('album/album', {'action': 'edit', 'id': album.id}) }}">
                                    <i class="icon-pencil icon-white"></i>
                                    {{ translate('Edit') }}
                                </a>
                                <a
                                    href="#"
                                    class="confirm fake-form btn btn-small btn-danger"
                                    rel="Are you sure you want to delete album {{ album.title }} by {{ album.artist }}?"
                                    data-form='{
                                        "action": "{{ url('album/album', {'action': 'edit', 'id': album.id}) }}",
                                        "method": "post",
                                        "data": {"id": "{{ album.id }}"}
                                    }'
                                >
                                    <i class="icon-white icon-remove"></i>
                                    {{ translate('Remove') }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <!-- paginator -->
                {{ paginationControl(albums, 'sliding', ['partials/paginator/slide.twig', 'Application'],
                    {'route': 'album/list', 'params': defaults}) | raw }}
            </div>
        </div>
        <!-- /block -->
    </div>
{% endblock %}