{{ docType() }}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}ZF2 {{ translate('Application Name').setSeparator(' - ') }}{% endblock title %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock meta %}

    <!-- Le styles -->
    <link href="{{ basePath('/css/bootstrap-fileupload.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/bootstrap.min.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/js/select2-3.4.0/select2.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/bootstrap-fileupload.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/css/style.css') }}" media="screen" rel="stylesheet" type="text/css">
    <link href="{{ basePath('/images/favicon.ico') }}" rel="shortcut icon" type="image/vnd.microsoft.icon">
    {% block style %}{% endblock style %}

    <!-- Scripts -->

    <script type="text/javascript" src="{{ basePath('/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/js/bootstrap.min.js') }}"></script>
    <!--[if lt IE 9]><script type="text/javascript" src="{{ basePath('/js/html5.js') }}"></script><![endif]-->
    <script type="text/javascript" src="{{ basePath('/js/bootbox.min.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/js/select2-3.4.0/select2.min.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/js/bootstrap-fileupload.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/js/ modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ basePath('/js/base.js') }}"></script>
    {% block script %}{% endblock script %}
</head>

{% block body %}
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{{ url('home') }}">{{ translate('Application Name') }}</a>
            <div class="nav-collapse collapse">
                {% if identity() %}
                    <ul class="nav pull-right">
                        <li class="dropdown">
                            <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-user"></i> {{ identity().username }} <i class="caret"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a tabindex="-1" href="{{ url('home') }}">{{ translate('Profile') }}</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a tabindex="-1" href="{{ url('user/logout') }}">{{ translate('Logout') }}</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                <ul class="nav">
                    {{ navigation('Navigation').menu()
                        .setPartial(['partials/navigation/menu.twig', 'Application']).render() | raw }}
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div id="content" class="span12">
            <div class="row-fluid">
                {% for messageNamespace in ['error', 'info', 'success'] %}
                    {{ flashMessenger().render(messageNamespace, ['alert', 'alert-' ~ messageNamespace]) | raw }}
                {% endfor %}
                <div class="navbar">
                    <div class="navbar-inner">
                        {{ navigation('Navigation').breadcrumbs()
                            .setPartial('partials/navigation/breadcrumbs.twig', 'Application').render() | raw }}
                    </div>
                </div>
            </div>

            <!-- content|raw is required for phtml fallback -->
            {% block content %}{{ content|raw }}{% endblock content %}
        </div>
    </div>
    <hr>
    <footer>
        <p>&copy; 2005 - 2012 by Zend Technologies Ltd. {{ translate('All rights reserved.') }}</p>
    </footer>
</div> <!-- /container -->
{% block inline %}{% endblock inline %}
</body>
{% endblock %}
</html>