<?php

$title = 'Tracks';
$this->headTitle($title);

/** @var $tracks \Zend\Paginator\Paginator */
?>

<h1><?php echo $this->escapeHtml($title)?></h1>

<?php foreach (array('error', 'info', 'success') as $messagesNamespace):?>
    <?php echo $this->flashMessenger()->render($messagesNamespace, array('alert', 'alert-' . $messagesNamespace))?>
<?php endforeach?>

<p><a class="btn btn-large btn-primary" href="<?php echo $this->url('album/track/track', array('action' => 'add'))?>">Add a new Track</a></p>

<?php
$newOrder = 'asc';
if (in_array($orderBy, array('name', 'album'))) {
    $newOrder = 'asc' == $order ? 'desc' : 'asc';
}
$defaults = array(
    'order_by' => $orderBy,
    'order' => $order,
    'page' => $page
)
?>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <?php if ('name' == $orderBy):?>
                    <?php $params = array_merge($defaults, array('order_by' => 'name', 'order' => $newOrder))?>
                <?php else:?>
                    <?php $params = array_merge($defaults, array('order_by' => 'name', 'order' => 'asc'))?>
                <?php endif?>
                <a href="<?php echo $this->url('album/track/list', $params)?>"><?php echo $this->translate('Name')?></a>
            </th>
            <th>
                <?php if ('album' == $orderBy):?>
                    <?php $params = array_merge($defaults, array('order_by' => 'album', 'order' => $newOrder))?>
                <?php else:?>
                    <?php $params = array_merge($defaults, array('order_by' => 'album', 'order' => 'asc'))?>
                <?php endif?>
                <a href="<?php echo $this->url('album/track/list', $params)?>"><?php echo $this->translate('Album')?></a>
            </th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
    <?php foreach ($tracks as $track):?>
        <?php /**@var $track \Album\Entity\Track */?>
        <?php $deleteUrl = $this->url('album/album', array('action' => 'delete', 'id' => $track->getId()))?>
        <tr>
            <td><?php echo $this->escapeHtml($track)?></td>
            <td><?php echo $this->escapeHtml($track->getAlbum())?></td>
            <td>
                <a class="btn btn-small" href="<?php echo $this->url('album/track/track', array('action' => 'edit', 'id' => $track->getId()))?>">
                    <i class="icon-edit"></i>
                </a>
                <a
                    href="#"
                    class="confirm fake-form btn btn-small"
                    rel="Are you sure you want to delete album <?php echo $track->getName()?>?"
                    form-data='{
                        "action":"<?php echo $this->url('album/track/track', array('action' => 'delete', 'id' => $track->getId()))?>",
                        "method": "post",
                        "data": {
                            "id": "<?php echo $track->getId()?>"
                        }
                    }'>
                    <i class="icon-remove"></i>
                </a>
            </td>
        </tr>
    <?php endforeach?>
    </tbody>
</table>

<!-- paginator -->
<?php if (1 < $tracks->count()):?>
    <?php echo $this->paginationControl(
        $tracks, 'Sliding', 'paginator-slide', array('orderBy' => $orderBy, 'order' => $order)
    )?>
<?php endif?>
