<ul class="breadcrumb">
{% for page in pages %}
    {% if page.visible and navigation().accept(page) %}
        <li {{ page.isActive ? 'class="active"' : '' }}>
            {% if not page.isActive %}
                <a href="{{ url(page.route, {'action': page.action}) }}">{{ page.label }}</a>
            {% else %}
                {{ page.label }}
            {% endif %}

            {% if not loop.last %}
                <span class="separator">/</span>
            {% endif %}
        </li>
    {% endif %}
{% endfor %}
</ul>