{% macro render_menu_branch(branch) %}
    {% for page in branch %}
        {% if page.visible and navigation().accept(page) %}
            {% set routeOptions = {} %}
            {% if page.pages | length %}
                {% import _self as macros %}
                <li class="{{ page.isActive ? 'active' : '' }} dropdown">
                    <a href="{{ url(page.route, {'action': page.action}) }}" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        {{ page.label }} <i class="caret"></i>
                    </a>
                    <ul class="dropdown-menu">{{ macros.render_menu_branch(page) }}</ul>
                </li>
            {% else %}
                <li class="{{ page.isActive ? 'active' : '' }}">
                    <a href="{{ url(page.route, {'action': page.action}) }}">{{ page.label }}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% import _self as macros %}
{{ macros.render_menu_branch(container) }}